<div class="container">

  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <h3><strong>投稿編集</strong></h3>
    </div>
  </div>

<!--編集する投稿場所の情報-->
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>

        <div class="row">
          <div class="col-12 d-flex mx-auto mt-5 mb-3">
            <div class="col-3 text-center lead font-weight-bold">名称</div>
            <div class="col-7 lead"><%= @post.name %></div>
          </div>
          <div class="col-12 d-flex my-3">
            <div class="col-3 text-center lead font-weight-bold">住所</div>
            <div class="col-9 lead"><%= @post.address %></div>
          </div>
          <div class="col-12 text-center mt-5 lead font-weight-bold">投稿文</div>
          <div class="col-12 text-center mx-auto"><%= f.text_area :introduction, class: "edit-introduction" %></div>

          <p class="col-12 col-md-3 text-left d-flex mx-auto mt-5 lead font-weight-bold">画像(複数選択可)</p>
          <div class="col-10 col-md-6 mb-5">
            <%= f.file_field :images, placeholder: "画像", accept: "image/*", multiple: true %>
          </div>
        </div>

        <div class="text-center mx-auto">
          <button class="update-btn-hover color-update">
            update
          </button>
        </div>

      <% end %>
    </div>
  </div>

</div>
