<div class="container">
  <div class="row">
<!--ーーーーーーーーーーーーーーーーーーーーーーーーーー（Google Map）ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-->
    <div class="col-md-12 text-center">
      <!--Google Mapのスタイル-->
      <style>
          #map { height: 400px; width: 60%;}
      </style>

      <!--地図検索-->
      <div style="margin-top: 50px; margin-bottom: 10px;">
        <i class="fas fa-search-location fa-lg"></i>
        <input id="address" type="textbox" style="margin-left: 10px; width:400px;">
        <input type="button" value="検索" onclick="codeAddress()">
      </div>

      <!--Google Map-->
      <div id="map" class="d-inline-flex justify-content-center"></div>

      <!--地図のjs-->
      <script>
        let map;
        let geocoder;
        let marker;
        let infoWindow;

        function initMap() {
          geocoder = new google.maps.Geocoder(); // ジオコーディングができるようにしておく

          var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
          var Options = {
           zoom: 15,      //地図の縮尺値
           center: MyLatLng,    //地図の中心座標
           mapTypeId: 'roadmap'   //地図の種類
          };
          map = new google.maps.Map(document.getElementById('map'), Options);
        }

        function codeAddress() {
          let inputAddress = $('#address').val(); // テキストエリアから検索対象文字取得

          geocoder.geocode({'address': inputAddress}, function(results, status) {
            if (status === 'OK') { // 結果があれば
              map.setCenter(results[0].geometry.location); // 地図の中央をマーカーと揃える

              if (marker != undefined) {
                marker.setMap(null); // マーカーの初期化
              }

              // マーカーを表示する
              marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map
              })

              // マーカーをクリックしたときのポップアップの中身
              infoWindow = new google.maps.InfoWindow({
                content: '<div class="p-3">' +
                        '<h5>' + inputAddress + '</h5>' +
                        '<h6 class="mt-4">' +
                        results[0].formatted_address.split('、')[1] +
                        '</h6>' +   // '、'より前には不要な(日本、)文字列があるので分割して2つ目の配列を取得
                        //️　以下、「投稿するボタンを押すことで」新規投稿画面にデータ（name,latitude,longitude,address）を送る
                        '<br><a href="<%= new_post_url %>' +
                        '?name=' +
                        inputAddress +
                        '&latitude=' +
                        results[0].geometry.location.lat() +
                        '&longitude=' +
                        results[0].geometry.location.lng() +
                        '&address=' +
                        results[0].formatted_address.split('、')[1] +
                        '"><h6 class="mt-2" style="color:#0066FF;">投稿する</h6></a>' +
                        '</div>'

              })

              // マーカーがクリックされたらinfoWindowを開く
              marker.addListener('click', function() {
                infoWindow.open(map, marker)
              })

            } else { // 検索した時に該当なしの場合、アラートを表示
              alert('該当なし');
            }
          })
        }
      </script>

      <!--APIキー-->
      <script src="https://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&language=ja&callback=initMap" data-turbolinks-track="reload"></script>

    </div>
  </div>
<!--ーーーーーーーーーーーーーーーーーーーーーーーーー（一覧画面）ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-->
  <div class="row">
    <div class="col-md-12 mt-5">
    <!--検索-->
      <div class=" mb-2">
        <%= form_with url: posts_path, method: :get, local: true do |f| %>
          <div class="d-flex justify-content-center">
            <i class="fas fa-search fa-lg mt-2 ml-2"></i>
            <%= f.text_field :search, class: "ml-2 mr-2 form-control w-50 border border-dark", value: params[:search], id: "searchBox" %>
            <%= f.submit 'search', class: "btn btn-primary" %>
            <span id="clearSearch" class="ml-2 btn btn-secondary">クリア</span>
          </div>
        <% end %>
      </div>

      <!--検索ボックスの中をクリアに-->
      <script>
        $('#clearSearch').on('click', (e) => {
          //console.log(e.target)
          $('#searchBox').val("")
        })
      </script>

      <div class="post_list">
        <table class="table table-hover text-center">
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <% if post.images.attached? %>
                  <%= image_tag post.get_image(post.images[0], 90,70) %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpg'),width: 90, height: 70 %>
                <% end %>
              </td>
              <td><%= post.name %></td>　　<!--投稿場所-->
              <td>
                <% if post.user.user_name.present? %>　<!--ユーザーネームが設定されているか？-->
                  <%= post.user.user_name %>　　　　　<!--ユーザーネームを表示-->
                <% else %>　　　　　　　　　　　　　　<!--設定されていなければ、氏名を表示-->
                  <%= post.user.first_name + post.user.last_name %>
                <% end %>
              </td>
              <td><%= link_to "詳細",post_path(post.id) %></td>   <!--投稿詳細へのリンク-->
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
