<div class="container">

  <div class="row">
    <div class="col-md-12 mt-5 text-center">
      <h5><strong>新規投稿</strong></h5>
    </div>
  </div>
<!--投稿する場所の情報-->
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 mx-auto">
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>

        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex mx-auto mt-5 mb-3">
            <div class="col-3 text-center lead font-weight-bold">名称</div>
            <div class="col-7 lead"><%= params[:name] %></div>
          </div>
          <div class="col-12 d-flex my-3">
            <div class="col-3 text-center lead font-weight-bold">住所</div>
            <div class="col-9 lead"><%= params[:address] %></div>
          </div>
          <div class="col-12 text-center mt-4 lead font-weight-bold">投稿文</div>
          <div class="col-12 text-center mx-auto">
            <%= f.text_area :introduction, placeholder:introduction, class: "new-post-introduction" %>
          </div>
        </div>

        <div class="row mt-5 d-flex justify-content-center mx-auto">
          <div class="col-12 col-md-6 col-lg-6">
            <p class="lead font-weight-bold">画像(５枚まで選択可)</p>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <%= f.file_field :images, placeholder: "画像", accept: "image/*", multiple: true %>
          </div>
        </div>

        <!--hidden_fuieldでマップから送られた情報をcreateアクションに-->
      　<%= f.hidden_field :user_id %>
        <%= f.hidden_field :name, :value => params[:name] %>
        <%= f.hidden_field :address, :value => params[:address] %>
        <%= f.hidden_field :latitude, :value => params[:latitude] %>
        <%= f.hidden_field :longitude, :value => params[:longitude] %>

        <div class="text-center mx-auto">
          <button class="new-post-btn-hover color-new-post">
            POST
          </button>
        </div>

      <% end %>
    </div>
  </div>
</div>

