<%= render 'admin/posts/showedCal', post: @post, user: @user %>

        <div class="comment">
          <% @comments.with_out_is_deleted.each do |comment|%>
            <div class="border border-dark mx-3 my-4">
              <div class="row mt-2">
                <%= link_to user_path(comment.user.id) do %>
                  <div class="col-1 m-1">
                    <%= image_tag comment.user.get_profile_image(35,35), class: "profile_image", style: "height: 35px; width: 35px;" %>
                  </div>
                  <div class="col-5 d-flex justify-content-start align-items-center">
                    <%= link_to comment.user.user_name, user_path(comment.user.id), class: "comment-user-name" %>
                  </div>
                <% end %>
                <div class="col-3 my-auto">
                  <% if comment.user == current_user %>
                    <%= link_to "削除", comment_path(comment.id), method: :delete, class: "comment-delete", "data-confirm" => "本当に削除しますか？" %>
                  <% end %>
                </div>
              </div>
              <div class="row tb-2 m-2">
                <div class="col-12 comment-sentence mx-1">
                  <%= comment.sentence %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!--コメント入力欄-->

        <div class="mt-2" style="margin-bottom: 70px;">
          <%= form_with model: [@post , @comment], url: comments_path, method: :post do |f| %>
            <div class="d-flex">
              <%= f.text_area :sentence, rows: '5', placeholder: "コメントをここに", class: "input-comment" %>
              <%= f.hidden_field :post_id, :value => @post.id %>
              <%= f.submit "送信", class: "btn btn-success mt-1", style: "height:40px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
