<%= render 'showedCal', post: @post, user: @user  %>

        <!--タグのリンク一覧表示(リンク先はそのタグが検索された状態の一覧画面)-->
        <% if @post.tags.present? %>
          <p class="d-inline"><strong>タグ：</strong></p>
          <% @post.tags.each do |post| %>
            <%= link_to post.name, admin_posts_path(search: post.name), 'data-turbolinks': false, class: "badge rounded-pill bg-secondary", style: "color:#fff;" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">

        <!--投稿文-->
        <div class="subtitle text-center">
          <strong>投稿文</strong>
        </div>
        <div class="post">
          <%= @post.introduction %>
        </div>

        <!--コメント欄-->
        <div class="subtitle text-center mt-3">
          <strong>コメント</strong>
          <p>コメント件数：<%= @post.comments.count %>件</p>
        </div>
        <div class="comment">
          <% @comments.each do |comment|%>
            <div class="border border-dark mx-3 my-4">
              <div class="row mt-2">
                <%= link_to admin_user_path(comment.user.id) do %>
                  <div class="col-1 m-1">
                    <%= image_tag comment.user.get_profile_image(35,35) %>
                  </div>
                  <div class="col-7 d-flex justify-content-start">
                    <%= link_to comment.user.user_name, user_path(comment.user.id), class: "comment-user-name" %>
                  </div>
                <% end %>
              </div>
              <div class="row tb-2 m-2">
                <div class="col-12 comment-sentence mx-1">
                  <%= comment.sentence %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 text-center">
      <!--投稿削除-->
      <%= link_to "削除",admin_post_path(@post), method: :delete, class: "btn btn-danger", "data-confirm" => "この投稿を削除しますか？"%>
    </div>
  </div>

</div>