<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h3>
        <strong>通報</strong>
      </h3>
    </div>
  </div>
  
　<div class="row">
    <div class="col-md-12 text-center">
      
      <p style="font-size:20px;">
        通報するユーザー：
        <% if @user.user_name.present? %>
          <%= link_to @user.user_name, user_path(@user.id) %>
        <% else %>
          <%= link_to @user.first_name + @user.last_name, user_path(@user.id) %>
        <% end %>
      </p>  
          
      <p>※通報理由を具体的に記載してください</p>
      
      <%= form_with model:[@user, @report], url: user_reports_path, method: :post do |f| %>
        <%= f.text_area :reason, class: "report-reason" %>
        <div class="text-center">
          <%= f.submit "通報する", class: "btn btn-danger mt-5" %>
        </div>
      <% end %>
      
    </div>
  </div>
  
</div>

