<div class="container">

  <div class="row mt-5">

    <div class="col-12 col-md-12">
      <div class="mb-2">
        <%= form_with url: admin_root_path, method: :get, local: true do |f| %>
          <div class="d-flex justify-content-center">
            <i class="fas fa-search fa-lg mt-2 ml-2"></i>
            <%= f.text_field :search, class: "ml-2 mr-2 form-control w-50 border border-dark", value: params[:search], id: "searchBox" %>
            <%= f.submit 'search', class: "search-button btn btn-primary" %>
            <small id="clearSearch" class="clear-button ml-2 btn btn-secondary">クリア</small>
          </div>
        <% end %>
      </div>

      <!--検索ボックスの中をクリアに-->
      <script>
        $('#clearSearch').on('click', (e) => {
          //console.log(e.target)
          $('#searchBox').val("")
        })
      </script>
    </div>

    <div class="col-md-8 user-list text-center">
      <table class="table table-sm table-hover">
        <% @users.each do |user| %>
          <tbody>
            <tr class="row" data-href="/admin/users/<%= user.id %>">
              <td class="col-3">
                <%= image_tag user.get_profile_image(70,70) %>
              </td>
              <td class="col-6 d-flex align-items-center justify-content-center">
                <%= user.user_name%>
              </td>
              <td class="col-3 d-flex align-items-center justify-content-center">
                <% if user.is_deleted == false %>
                  <strong style="color:blue;">有効</strong>
                <% else %>
                  <strong style="color:red;">退会</strong>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <%= paginate @users %>
  </div>
  <!--link_to "" do が機能しなかった為、JSで実装-->
  <script>
    $('tr[data-href]').click(function (e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  </script>

</div>