<div class="container">
  
  <div class="row mt-5">
    <div class="col-md-8 text-center border border-dark border-5 rounded"  style="width:650px; height:800px; margin: 0 auto; overflow: scroll; overflow-x: hidden;">
      <table class="table table-sm">
        <thead class="table-secondary">
          <tr>
            <td>プロフィール画像</td>
            <td>ユーザー名</td>
            <td>ステータス</td>
            <td></td>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td class="col-md-2">
              <%= image_tag user.get_profile_image(70,70) %>
            </td>
            <td class="col-md-6" style="font-size:20px;">
              <% if user.user_name.present? %>
                <%= user.user_name%>
              <% else %>
                <%= user.first_name %><%= user.last_name %>
              <% end %>
            </td>
            <td>
              <% if user.is_deleted == false %>
                <strong style="color:blue;">有効</strong>
              <% else %>
                <strong style="color:red;">退会</strong>
              <% end %>
            </td>
            <td class="col-md-2">
              <%= link_to "詳細", admin_user_path(user.id), style: "font-size:20px"  %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  
</div>