<div class="container">

  <div class="row text-center">
    <div class="col-md-12 mt-4">
      <%= image_tag @user.get_profile_image(100,100) %>
      <h3>
        <strong>
          <%= @user.user_name%>
        </strong>
      </h3>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-12 col-md-6 mx-auto mb-5">
      <div class="row">
        <!--投稿数-->
        <div class="col-3 col-md-3 text-center">
          <strong>
            <%= @posts.count %>
          </strong>
          <small class="d-block">投稿数</small>
        </div>
        <!--フォロー中-->
        <div class="col-3 col-md-3 text-center">
          <strong class="text-dark">
            <%= @user.follower.count %>
          </strong>
          <small class="d-block text-dark">フォロー中</small>
        </div>
        <!--フォロワー-->
        <div class="col-3 col-md-3 text-center">
          <strong class="text-dark">
            <%= @user.followed.count %>
          </strong>
          <small class="d-block text-dark">フォロワー</small>
        </div>
        <!--ステータス-->
        <div class="col-3 col-md-3 text-center">
          <strong>
            <% if @user.is_deleted == false %>
              <strong style="color:blue;">有効</strong>
            <% else %>
              <strong style="color:red;">退会</strong>
            <% end %>
          </strong>
          <small class="d-block text-dark">ステータス</small>
        </div>
      </div>
    </div>
  </div>

  <!--自己紹介-->
  <div class="row mt-4">
    <div class="col-md-12 mx-auto">
      <h6 class="text-center">
        <strong>自己紹介</strong>
      </h6>
      <div class="user-introduction">
        <% if @user.introduction.present? %>
         <%= @user.introduction %>
        <% else %>
          <p style="opacity:0.5">※自己紹介は設定されていません</p>
        <% end %>
      </div>
    </div>
  </div>
  
  <!--過去投稿一覧-->
  <div class="row">
    <div class="col-12 text-center mt-5">
      <strong>投稿</strong>
    </div>
  </div>
  
  <div class="post-list">
    <div class="row">
      <div class="col-12 col-md-12 d-flex justify-content-start flex-wrap px-0">
        <% @posts.each do |post| %>
          <div class="col-9 col-md-6 col-lg-4 p-3 mx-md-0 mx-lg-0 mx-auto text-center">
            <div class="border border-dark h-100">
              <%= link_to admin_post_path(post.id) do %>
                <div class="text-dark text-truncate">
                  <%= post.user.user_name %>
                </div>
                <div class="m-2">
                  <% if post.images.attached? %>
                    <%= image_tag post.get_image(post.images[0], 120,120) %>
                  <% else %>
                    <%= image_tag asset_path('no_image.jpg'),width: 80, height: 70 %>
                  <% end %>
                </div>
                <div class="text-dark">
                  <%= post.name %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>  

  <div class="row text-center">
    <div class="col-md-12 mt-5">
      <%= link_to "登録情報を編集",edit_admin_user_path(@user.id), class: "btn btn-secondary" %>
    </div>
  </div>

</div>