<div class="container">

  <div class="row text-center">
    <div class="col-md-12 mt-4">
      <%= image_tag @user.get_profile_image(100,100) %>
      <h3><strong>
        <% if @user.user_name.present? %>
          <%= @user.user_name%>
        <% else %>
          <%= @user.first_name + @user.last_name %>
        <% end %>
        さんの登録情報
      </strong></h3>

      <!--投稿数-->
      <div class="col-md-12 d-flex" style="margin-left:15%;">
        <div class="col-md-2 d-flex flex-column">
          <strong>
            <%= @posts.count %>
          </strong>
          投稿数
        </div>
      <!--フォロー中-->
        <div class="col-md-2 d-flex flex-column">
          <strong>
            <%= @user.follower.count %>
          </strong>
          <p>フォロー中</p>
        </div>
      <!--フォロワー-->
        <div class="col-md-2 d-flex flex-column">
          <strong>
            <%= @user.followed.count %>
          </strong>
          <p>フォロワー</p>
        </div>
        <div class="col-md-2 d-flex flex-column">
          <strong>
            <% if @user.is_deleted == false %>
              <strong style="color:blue;">有効</strong>
            <% else %>
              <strong style="color:red;">退会</strong>
            <% end %>
          </strong>
          ステータス
        </div>
      </div>
    </div>
  </div>

  <!--自己紹介-->
  <div class="row mt-4">
    <div class="col-md-12" style="margin: 0 auto;">
      <h6 class="text-center">
        <strong>自己紹介</strong>
      </h6>
      <div class="user-introduction">
        <% if @user.introduction.present? %>
         <%= @user.introduction %>
        <% else %>
          <p style="opacity:0.5">※自己紹介は設定されていません</p>
        <% end %>
      </div>
    </div>
  </div>
  <!--過去投稿一覧-->
  <div class="row mt-3">
    <div class="col-md-12" style="margin: 0 auto;">
      <h6 class="text-center">
        <strong>投稿</strong>
      </h6>
      <div class="user-posted">
        <table class="table table-hover">
          <% @posts.each do |post| %>
            <tr data-href="/admin/posts/<%= post.id %>">
              <td>
                <% if post.images.attached? %>
                  <%= image_tag post.get_image(post.images[0], 90,70) %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpg'),width: 80, height: 70 %>
                <% end %>
              </td>
                <td><%= post.name %></td>           <!--投稿場所-->
                <td style="max-width:300px;"><%= post.address %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <script>
    $('tr[data-href]').click(function (e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  </script>

  <!--ユーザーのステータス-->
  <div class="row text-center">
    <div class="col-md-12 mt-5">
      <%= link_to "登録情報を編集",edit_admin_user_path(@user.id), class: "btn btn-secondary" %>
    </div>
  </div>

</div>