  <!--users/index.html.erb-->
  <div class="row">
    <div class="col-md-8 text-center" style="margin: 0 auto;">
      <div class="user-list">
        <table class="table table-hover table-sm">
          <tbody>
            <% users.each do |user| %>
              <tr data-href="/users/<%= user.id %>">
                <td class="col-md-2 col-sm-4">
                  <%= image_tag user.get_profile_image(70,70) %><!--プロフィール画像-->
                </td>
                <td class="col-md-4 col-sm-8">
                  <% if user.user_name.present? %>
                    <%= user.user_name%><!--ユーザーネーム-->
                  <% else %>
                    <%= user.first_name %><%= user.last_name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    $('tr[data-href]').click(function (e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  </script>