  <!--users/show.html.erb , my_page.html.erb-->
  <div class="row mt-3">
    <div class="col-md-12" style="margin: 0 auto;">
      <h6 class="text-center">
        <strong>投稿</strong>
      </h6>
      <div class="border border-dark border-5 rounded" style="width:750px; height:600px; margin:0 auto; overflow: scroll; overflow-x: hidden;">
        <table class="table table-hover">
          <thead>
            <tr class="table-secondary">
              <th>名称</th>
              <th>住所</th>
              <th>詳細</th>
              <th></th>
            </tr>
          </thead>
          <% posts.each do |post| %>
          <tbody>
            <tr>
              <td class="text-center">
                <% if post.images.attached? %>
                  <%= image_tag post.get_image(post.images[0], 90,70) %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpg'),width: 80, height: 70 %>
                <% end %>
              </td>
              <td><%= post.name %></td>　　<!--投稿場所-->
              <td><%= post.address %></td>
              <td><%= link_to "詳細",post_path(post.id) %></td>   <!--投稿詳細へのリンク-->
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>