  <!--users/show.html.erb , my_page.html.erb-->
  <div class="row mt-3">
    <div class="col-md-12" style="margin: 0 auto;">
      <h4 class="text-center">
        <strong>投稿</strong>
      </h4>
      <div class="user-posted">
        <table class="table table-hover">
          <tbody>
            <% posts.each do |post| %>
              <tr data-href="/posts/<%= post.id %>">
                <td class="text-center">
                  <% if post.images.attached? %>
                    <%= image_tag post.get_image(post.images[0], 90,70) %>
                  <% else %>
                    <%= image_tag asset_path('no_image.jpg'),width: 80, height: 70 %>
                  <% end %>
                </td>
                <td><%= post.name %></td>
                <td style="max-width:300px;"><%= post.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <script>
    $('tr[data-href]').click(function (e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  </script>