
<div class="container">

  <div class="row text-center">
    <div class="col-md-12 my-3">
      <i class="fas fa-users fa-3x"></i>
    </div>
  </div>

  <!--タブ部分-->
  <div>
    <div>
      <ul class="tab-list list-unstyled d-block d-md-flex text-center justify-content-center">
        <li id="user" class="tab<%= @select.nil? || @select == 'user' ? ' tab-active' : '' %>">
          ユーザー
        </li>

        <li id="follower" class="tab<%= @select == 'follower' ? ' tab-active' : '' %>">
          フォロワー
        </li>

        <li id="folloing" class="tab<%= @select == 'folloing' ? ' tab-active' : '' %>">
          フォロー中
        </li>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <!--ユーザー全体-->
          <div class="tabbox<%= @select.nil? || @select == "user" ? ' box-show' : '' %>">
            <%= render 'list', users: @users %>
          </div>
        <!--フォロワー-->
          <div class="tabbox<%= @select == "follower" ? ' box-show' : '' %>">
            <%= render 'list', users: @follower_users %>
          </div>
          
        <!--フォロー中-->
          <div class="tabbox<%= @select == "folloing" ? ' box-show' : '' %>">
            <%= render 'list', users: @following_users %>
          </div>
        </div>
    </div>
  </div>

</div>

