<h1>マイページ</h1>
<h2>登録情報</h>

<table>
  <thead>
    <tr>
      <th></th>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= image_tag @user.get_profile_image(100,100) %>
      </td>
      <td>
        <%= @user.first_name %>  <%= @user.last_name %>
      </td>
      <td>
        <%= @user.first_name_kana %>  <%= @user.last_name_kana %>
      </td>
      <td>
        <%= @user.email %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "編集する",edit_user_path(@user) %>
</div>