<div class="container">

  <div class="row mt-3">
    <div class="col-md-10 mt-1" style="margin:0 auto;">
      <div class="d-flex">
        <h5><strong>プロフィール</strong></h5>
        <%= link_to "ブックマーク", post_favorite_path(@user),class: "bookmark-button text-center" %>
      </div>
      
      <table class="table text-center mt-1">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>氏名</th>
            <th>ユーザーネーム</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(90,90) %>
            </td>
            <td>
              <%= @user.first_name %>  <%= @user.last_name %>
            </td>
            <td>
              <% if @user.user_name.present? %>
                <%= @user.user_name %>
              <% else %>
                <p style="opacity:0.5">※ユーザーネームは設定されていません</p>
              <% end %>
            </td>
            <td>
              <%= @user.email %>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 text-center d-flex justify-content-center mb-3" style="margin: 0 auto;">
      <!--投稿数-->
      <div class="col-md-2 d-flex flex-column">
        <strong>
          <%= @posts.count %>
        </strong>
        投稿数
      </div>
      <!--フォロー中-->
      <div class="col-md-2 d-flex flex-column">
        <strong>
          <%= @user.follower.count %>
        </strong>
        <%= link_to "フォロー中",user_following_path(@user) %>
      </div>
      <!--フォロワー-->
      <div class="col-md-2 d-flex flex-column">
        <strong>
          <%= @user.followed.count %>
        </strong>
        <%= link_to "フォロワー",user_follower_path(@user) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h6 class="text-center">
        <strong>自己紹介</strong>
      </h6>
      <div class="mypage-introduction">
        <% if @user.introduction.present? %>
         <%= @user.introduction %>
        <% else %>
          <p style="opacity:0.5">※自己紹介は設定されていません</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-1 d-flex justify-content-center">
    <%= link_to "edit",edit_user_path(@user),class: "edit-btn-hover color-edit mypage-button" %>
  </div>

  <!--過去投稿一覧-->
  <%= render 'posted', posts: @posts %>

  <div class="mt-1 d-flex justify-content-center">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "delete-btn-hover color-delete mypage-button" %>
  </div>

</div>