<div class="container">

  <div class="row mt-3">
    <div class="col-12 col-md-10 mx-auto mt-1">

      <%= image_tag @user.get_profile_image(300,300), class: 'd-block mx-auto' %>

      <div class="row my-3">
        <div class="col-12 col-md-4 text-center">
          <h5 class="mypage-info mx-auto">氏名</h5>
          <div>
            <%= "#{@user.first_name} #{@user.last_name}" %>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center mt-5 mt-md-0">
          <h5 class="mypage-info mx-auto">ユーザーネーム</h5>
          <div>
            <%= @user.user_name %>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center mt-5 mb-4 mt-md-0">
          <h5 class="mypage-info mx-auto">メールアドレス</h5>
          <div>
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-6 mx-auto mb-5">
      <div class="row">
        <div class="col-4 col-md-4 text-center">
          <strong>
            <%= @posts.count %>
          </strong>
          <small class="d-block">投稿数</small>
        </div>
        <div class="col-4 col-md-4 text-center">
          <%= link_to user_following_path(@user) do %>
            <strong class="text-dark">
              <%= @user.follower.count %>
            </strong>
            <small class="d-block text-dark">フォロー中</small>
          <% end %>
        </div>
        <div class="col-4 col-md-4 text-center">
          <%= link_to user_follower_path(@user) do %>
            <strong class="text-dark">
              <%= @user.followed.count %>
            </strong>
            <small class="d-block text-dark">フォロワー</small>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">
        <strong>自己紹介</strong>
      </h4>
      <div class="mypage-introduction">
        <% if @user.introduction.present? %>
         <%= @user.introduction %>
        <% else %>
          <p style="opacity:0.5">※自己紹介は設定されていません</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-1 d-flex justify-content-center">
    <%= link_to "edit",edit_user_path(@user),class: "edit-btn-hover color-edit mypage-button" %>
  </div>
  
  <div class="text-center mt-4">
    <%= link_to "ブックマーク", post_favorite_path(@user),class: "bookmark-button" %>
  </div>

  <!--過去投稿一覧-->
  <%= render 'posted', posts: @posts %>

  <div class="mt-1 d-flex justify-content-center">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "delete-btn-hover color-delete mypage-button" %>
  </div>

</div>