<!DOCTYPE html>
<html>
  <head>
    <title>猫の散歩</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <!--Header-->
    <header class=" border-bottom border-dark m-0" style="height :70px;">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          
          <% if user_signed_in? %>
            <%= image_tag current_user.get_profile_image(50,50) %>
            <h5 class="mt-2" style="margin-left:-6%;">
              <strong>
                <% if current_user.user_name.present? %>
                  <%= current_user.user_name%><!--ユーザーネーム-->
                <% else %>
                  <%= current_user.first_name + current_user.last_name %>
                <% end %>
              </strong>
            </h5>
            <%= link_to "猫の散歩", root_path, class: "text-dark", style: "margin-top:5px; margin-left:20%; font-size:30px;" %>
          <% elsif %>
            <p class="mt-3" style="color:red; margin-left:-6%;">
              ※投稿するには新規登録が必要です
            </p>
            <%= link_to "猫の散歩", root_path, class: "text-dark", style: "margin-top:5px; margin-left:8%; font-size:30px;" %>
          <% end %>

          
          <!--adminのログイン中のHeader-->
          <ul class="navbar-nav">
            <% if admin_signed_in? %>
              <li class="">
                <%= link_to "ユーザー", admin_root_path, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
              <li class="">
                <%= link_to "投稿一覧", admin_posts_path, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
              <li class="">
                <%= link_to "通報一覧", admin_reports_path, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
              <li class="">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
            <!--publicのログイン中のHeader-->
            <% elsif user_signed_in? %>
              <li class="">
                <%= link_to "マイページ", my_page_path, class: "nav-link text-dark", style: "font-size:20px;"  %>
              </li>
              <li class="">
                <%= link_to "ユーザー", users_path, class: "nav-link text-dark", style: "font-size:20px;"  %>
              </li>
              <li class="">
                <%= link_to "投稿", posts_path, class: "nav-link text-dark", style: "font-size:20px;"  %>
              </li>
              <li class="">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark", style: "font-size:20px;"  %>
              </li>
            <!--ログアウト中のHeader-->
            <% else %>
              <li>
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
              <li class="">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
              <li class="">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link text-dark", style: "font-size:20px;" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
  <!--Main-->
    <main style="margin-bottom:50px;">
      <%= yield %>
    </main>
  <!--Footer-->
    <footer>
    </footer>
  </body>
</html>
