<!DOCTYPE html>
<html>
  <head>
    <title>猫の散歩</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/1b0978deee.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--ナビゲーション-->
    <style>
      /* overflow を非表示にする */
      html, body {
        overflow-x: hidden;
      }

      /*ページにいるときのcss*/
      nav li {
        border-bottom: 5px solid #555555;
        border-radius: 5px;
      }

      /*aタグを持っている場合*/
      nav li:has(> a) {
        border-bottom: none;
      }

      /*hoverした時のcss*/
      nav li:hover{
        color: #555555;
        border-bottom: 5px solid #EEEEEE;
        border-radius: 5px;
      }

      /*aタグを持っている場合に、hoverした時のcss*/
      nav li:hover > a {
        text-decoration: none;
        color: #EEEEEE;
      }
    </style>
  </head>

  <body>
      <!--Header-->
    <header class="border-bottom border-dark m-0" style="height:5%;">
      <div class="container">

        <!--トップロゴ-->
        <div class="row logo" style="width:100%; margin:0 auto;">
          <div class="col-md-12 col-sm-12 text-center mt-1">
            <%= link_to "Cat Walk", root_path, class: "logo", style: "font-size:50px; color:#333333; font-weight:bold;" %>
          </div>
        </div>

        <div class="row">
          <!--ナビリスト-->
          <div class="col-md-12 mb-2">
            <!--adminのログイン中のHeader-->
            <nav>
              <ul>
                <% if admin_signed_in? %>
                  <li>
                    <%= link_to_unless_current "User", admin_root_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current  "Post", admin_posts_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current "Report", admin_reports_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current "Log out", destroy_admin_session_path, method: :delete %>
                  </li>
                <!--publicのログイン中のHeader-->
                <% elsif user_signed_in? %>
                  <li>
                    <%= link_to_unless_current "Post", posts_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current "User", users_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current "My page", my_page_path %>
                  </li>
                <!--ログアウト中のHeader-->
                <% else %>
                  <li>
                    <%= link_to_unless_current "Post", posts_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current "Sign up", new_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to_unless_current "Log in", new_user_session_path %>
                  </li>
                <% end %>
                <!--link_to_unless_current はリンク先が今いるページの場合、aタグをつけない-->
              </ul>
            </nav>
          </div>
        </div>
      </div>
      
      <!--ヘッダーの猫-->
      <div class="header-cat"></div>
      
    </header>
  <!--Main-->
    <main style="margin-bottom:50px;">
      
      <!--成功フラッシュメッセージ-->
      <% if flash[:notice].present? %>
        <div class="alert alert-success text-center">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      
      <!--失敗フラッシュメッセージ-->
      <% if flash[:alert].present? %>
        <div class="alert alert-danger text-center">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      
      <div class="login_state mt-2">
        <% if user_signed_in? %>
          <% if current_user.user_name.present? %>
            <%= current_user.user_name %>
          <% else %>
            <%= current_user.first_name + current_user.last_name %>
          <% end %>
        <% elsif admin_signed_in? %>
          <p class="text-danger mt-3">
            管理者ログイン中
          </p>
        <% else %>
          <p class="text-danger mt-3">
            ゲストログイン中
          </p>
        <% end %>
      </div>
      
      <%= yield %>
      
    </main>
  <!--Footer-->
    <footer class="border-top border-dark">
      
      <!--プライバシーポリシー、HELP、コピーライト-->
      <div class="d-flex justify-content-center">
        <div class="privacy">
          <%= link_to "Privacy Policy", privacy_path %>
        </div>
        <div class="help">
          <%= link_to "Help", help_path %>
        </div>
      </div>
      <p class="copyright text-center">
        ©️ 2023 Kenta Joko
      </p>
      
      <!--フッターの猫-->
      <div class="footer-cat"></div>
      
    </footer>
  </body>
</html>
